
        <!-- Container-fluid starts-->
        <div class="page-body">
            <!-- All User Table Start -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="title-header option-title">
                                    <h5>All Users</h5>
                                    <form class="d-inline-flex">
                                        <a href="admin/add-user" class="align-items-center btn btn-theme">
                                            <i data-feather="plus"></i>Add New
                                        </a>
                                    </form>
                                </div>

                                <div class="table-responsive table-product">
                                    <table class="table all-package theme-table align-items-center" id="table_id">
                                        <thead>
                                            <tr>
                                                <th>FullName</th>
                                                <th>Phone</th>
                                                <th>Email</th>
                                                <th>Option</th>
                                                <th>Verification</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            {{#each userData}}
                                            <tr>
                                                <td>{{name}}</td>
                                                <td>{{mobile}}</td>
                                                <td>{{email}}</td>

                                                <td>
                                                    {{#if block}}
                                                    <a href="/admin/Block-User/{{_id}}" class="align-items-center btn btn-theme">
                                                        <i data-feather=""></i>Block
                                                    </a> {{else}}
                                                    <a href="/admin/unblock-User/{{_id}}" class="align-items-center btn btn-theme">
                                                        <i data-feather=""></i>Unblock
                                                        {{/if}}
                                                    </a>
                                                </td>
                                                <td>
                                                    {{#if is_verified}}
                                                    <button>verified</button>
                                                    {{else }}

                                                    <button>Please verify</button>{{/if}}
                                                </td>

                                            </tr>
                                            {{/each}}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- All User Table Ends-->

            <div class="container-fluid">
                <!-- footer start-->
                <footer class="footer">
                    <div class="row">
                        <div class="col-md-12 footer-copyright text-center">
                            <p class="mb-0">Copyright 2022 © Liam theme by pixelstrap</p>
                        </div>
                    </div>
                </footer>
                <!-- footer end-->
            </div>
        </div>
        <!-- Container-fluid end -->
   
    <!-- Page Body End -->

   

<!-- Delete Modal Box Start -->
<div class="modal fade theme-modal remove-coupon" id="exampleModalToggle" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-block text-center">
                <h5 class="modal-title w-100" id="exampleModalLabel22">Are You Sure ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="remove-box">
                    <p>The permission for the use/group, preview is inherited from the object, object will create a
                        new permission for this object</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-animation btn-md fw-bold" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-animation btn-md fw-bold" data-bs-target="#exampleModalToggle2"
                    data-bs-toggle="modal" data-bs-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade theme-modal remove-coupon" id="exampleModalToggle2" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel12">Done!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="remove-box text-center">
                    <div class="wrapper">
                        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                        </svg>
                    </div>
                    <h4 class="text-content">It's Removed.</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>